/* Colorized theme created by Alfredo Monclus 2021 */
/* Using pantheon colors */
@define-color pantheon-base0 #839496;
@define-color pantheon-base1 #93a1a1;
@define-color pantheon-base2 #eee8d5;
@define-color pantheon-off-white #fdf6e3;
@define-color pantheon-base00 #657b83;
@define-color pantheon-base01  #586e75;
@define-color pantheon-base02 #073642;
@define-color pantheon-orange #cb4b16;
@define-color pantheon-red #dc322f;
@define-color pantheon-magenta #d33682;
@define-color pantheon-cyan #2aa198;
@define-color pantheon-green #859900;
@define-color pantheon-button-grey #272627;
@define-color pantheon-background-grey #1a191a;
@define-color pantheon-beige-corrected #c0a88c;

@define-color pantheon-mint #66BE8E;
@define-color pantheon-violet #b894c4;
@define-color pantheon-peach #f0d3b0;
@define-color pantheon-pink #f69894;
@define-color pantheon-blue #4f4c81;
@define-color pantheon-yellow #dada0b;
@define-color pantheon-grey #414042;

* {
    color: @pantheon-off-white;
}

list row,
treeview.view,
window {
    background-color: @pantheon-background-grey;
}

button {
    background-color: @pantheon-background-grey;
}

button:active {
    background-color: @pantheon-mint;
}

button.color1:active,
button.color2:active,
button.color3:active,
button.color4:active,
button.update:active,
button.invalid:active,
.dialog button:active {
    border-style: none;
    background-color: @pantheon-mint;
    margin-top: .5em;
}


.button_active {
    border-color: @pantheon-button-grey;
    border-style: solid;
    border-radius: 0.25em;
    background-color: @pantheon-button-grey;
}

.button_fake {

    background-color: @pantheon-background-grey;

}

.button_fake:insensitive {
    border: 2px solid @pantheon-grey;

    background-color: @pantheon-background-grey;

    opacity: 1
}

button.color1 {
    background-color: @pantheon-button-grey;
    border-bottom-color: @pantheon-button-grey;
    border-radius: 0.25em;
}

button.color2 {
    background-color: @pantheon-button-grey;
    border-bottom-color: @pantheon-button-grey;
    border-radius: 0.25em;
}

button.color3 {
    background-color: @pantheon-button-grey;
    border-bottom-color: @pantheon-button-grey;
    border-radius: 0.25em;
}

button.color4 {
    background-color: @pantheon-button-grey;
    border-bottom-color: @pantheon-button-grey;
    border-radius: 0.25em;
}

button.print {
    border-bottom-color: @pantheon-mint;
}

button.active {
    background-color: @pantheon-beige-corrected;
}

button.update {
    background-color: @pantheon-button-grey;
    border: 0;
    border-bottom: .3em solid;
    border-bottom-color: @pantheon-green;
    border-radius: .75em;
}

button.invalid {
    background-color: @pantheon-button-grey;
    border: 0;
    border-bottom: .3em solid;
    border-bottom-color: @pantheon-red;
    border-radius: .75em;
}

menu,
menuitem,
combobox button,
combobox arrow,
combobox menuitem,
popover,
popover button {
    background-color: @pantheon-button-grey;
    border-color: @pantheon-grey;
}

treeview.view check,
switch {
    background-color: @pantheon-button-grey;
}

treeview.view check:checked,
switch:checked {
    background-color: @pantheon-green;
}

entry {
    background-color: @pantheon-button-grey;
    border-color: @pantheon-grey;
}

label {
    color: @pantheon-off-white;
}

trough {
    background-color: @pantheon-button-grey;
    color: @pantheon-off-white;
    border-color: @pantheon-grey;
    border-radius: 1em;
}

trough highlight,
trough progress {
    background-color:  @pantheon-violet;
    color: @pantheon-off-white;
    border-color: @pantheon-grey;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

scale-mark {
    color: @pantheon-off-white;
}

scrollbar,
scrollbar button,
scrollbar trough {
    background-color: @pantheon-grey;
}

scrollbar slider {
    background-color: @pantheon-button-grey;
}

textview .time {
    color:  @pantheon-base1;
}

.dialog {
    border: @pantheon-grey;
    background-color: @pantheon-grey;
}

.dialog button {
    background-color: @pantheon-button-grey;
    border-radius: .75em;
}

.horizontal_togglebuttons  {
    border-color: @pantheon-grey;
    background-color: @pantheon-button-grey;
}

.horizontal_togglebuttons_active {
    background-color: @pantheon-beige-corrected;
}

.fan_slider {
    color: @pantheon-off-white;
}

.message_popup {
    border-bottom-color: @pantheon-off-white;
}

.message_popup button {
    background-color:  @pantheon-red;
}

.message_popup_echo,
.message_popup_echo button {
    background-color: @pantheon-green;
}

.message_popup_warning,
.message_popup_warning button {
    background-color:  orange;
}

.message_popup_error,
.message_popup_error button {
    background-color:  @pantheon-red;
}

.numpad_key {
    border-color: @pantheon-grey;
    background-color: @pantheon-button-grey;
}

.printing-status {
    color: @pantheon-off-white;
}

.printing-progress-text {
    color: @pantheon-off-white;
}

.printing-status-label {
    color:  @pantheon-base1;
}

.message {
    border-color: @pantheon-red;
    color: @pantheon-off-white;
    background-color: @pantheon-red;
}

.message button {
    background-color: @pantheon-off-white;
    color: @pantheon-grey;
}

.warning {
    background-color:  @pantheon-yellow;
}

.error {
    background-color: @pantheon-red;
}

.keyboard_pad {
    background-color: @pantheon-button-grey;
}

.dialog-error {
    border-bottom-color: @pantheon-red;
}

.dialog-warning {
    border-bottom-color: orange;
}

.dialog-caution {
    border-bottom-color: @pantheon-yellow;
}

.dialog-info {
    border-bottom-color: @pantheon-cyan;
}

.dialog-default {
    border-bottom-color: @pantheon-green;
}

.dialog-secondary {
     border-bottom-color: @pantheon-magenta;
}

.dialog-primary {
     border-bottom-color: @pantheon-beige-corrected;
}

.compatibility-warning {
    color: orange;
}

.compatibility-danger {
    color: red;
}

.compatibility-caution {
    color: @pantheon-yellow;
}

.compatibilityMessage-warning {
    background-color: orange;
    color: black;
}

.compatibilityMessage-danger {
    background-color: red;
    color: black;
}

.compatibilityMessage-caution {
    background-color: @pantheon-yellow;
    color: black;
}

.confirmPrintDialog{
    background-color: @pantheon-background-grey;
}